# Database Connection String
ConnectionStrings__DefaultConnection="Server=YOUR_DB_SERVER;Database=Sport_Connect_DB;Trusted_Connection=True;TrustServerCertificate=True"

# JWT Token Settings
JwtSettings__SecretKey="YOUR_JWT_SECRET_KEY"

# Admin Settings
AdminSettings__SecretKey="YOUR_ADMIN_SECRET_KEY"
AdminSettings__DefaultAdminPassword="YOUR_ADMIN_PASSWORD"

# Email Settings
EmailSettings__Username="YOUR_SMTP_USERNAME"
EmailSettings__Password="YOUR_SMTP_PASSWORD"
EmailSettings__FromEmail="YOUR_SMTP_FROM_EMAIL"

# VnPay Settings
VnPaySettings__HashSecret="YOUR_VNPAY_HASHSECRET"
