-- ==========================================
-- PHẦN 2: SEED DATA
-- ==========================================

DECLARE @AdminRoleId UNIQUEIDENTIFIER = NEWID();
DECLARE @OwnerRoleId UNIQUEIDENTIFIER = NEWID();
DECLARE @PlayerRoleId UNIQUEIDENTIFIER = NEWID();

DECLARE @AdminId UNIQUEIDENTIFIER = NEWID();
DECLARE @OwnerId UNIQUEIDENTIFIER = NEWID();
DECLARE @HostId UNIQUEIDENTIFIER = NEWID();
DECLARE @GuestId UNIQUEIDENTIFIER = NEWID();

DECLARE @VenueId UNIQUEIDENTIFIER = NEWID();
DECLARE @BookingId UNIQUEIDENTIFIER = NEWID();
DECLARE @MatchId UNIQUEIDENTIFIER = NEWID();

-- 1. Seed Roles
INSERT INTO [Roles] ([id], [role_name], [description]) VALUES
(@AdminRoleId, 'ADMIN', N'Quản trị viên hệ thống'),
(@OwnerRoleId, 'OWNER', N'Chủ sân thể thao'),
(@PlayerRoleId, 'PLAYER', N'Người chơi (Bao gồm Host & Guest)');

-- 2. Seed Permissions & Gán quyền RBAC
DECLARE @Perms TABLE (Code NVARCHAR(255), ID UNIQUEIDENTIFIER);
INSERT INTO [Permissions] ([permission_code], [permission_name])
OUTPUT inserted.permission_code, inserted.id INTO @Perms
VALUES
('MANAGE_SYSTEM', N'Quản trị hệ thống'),
('MANAGE_VENUE', N'Quản lý sân bãi'),
('CONFIRM_BOOKING', N'Xác nhận đặt sân'),
('CREATE_BOOKING', N'Thực hiện đặt sân'),
('CREATE_MATCH', N'Tạo nhóm/kèo đấu'),
('JOIN_MATCH', N'Tham gia nhóm/kèo đấu');

INSERT INTO [Role_Permission] (role_id, permission_id) SELECT @AdminRoleId, ID FROM @Perms;
INSERT INTO [Role_Permission] (role_id, permission_id) SELECT @OwnerRoleId, ID FROM @Perms WHERE Code IN ('MANAGE_VENUE', 'CONFIRM_BOOKING');
INSERT INTO [Role_Permission] (role_id, permission_id) SELECT @PlayerRoleId, ID FROM @Perms WHERE Code IN ('CREATE_BOOKING', 'CREATE_MATCH', 'JOIN_MATCH');

-- 3. Seed Users
INSERT INTO [Users] ([id], [username], [email], [password_hash], [full_name]) VALUES
(@AdminId, 'admin', 'admin@sportconnect.com', 'adminpassword', N'Quản trị viên'),
(@OwnerId, 'chusan_a', 'owner@gmail.com', '123456', N'Sân Huế An'),
(@HostId, 'player_host', 'host@gmail.com', '123456', N'Host 1'),
(@GuestId, 'player_guest', 'guest@gmail.com', '123456', N'Vãng Lai 1');

-- 4. Seed User_Role
INSERT INTO [User_Role] ([user_id], [role_id]) VALUES
(@AdminId, @AdminRoleId),
(@OwnerId, @OwnerRoleId),
(@HostId, @PlayerRoleId),
(@GuestId, @PlayerRoleId);

-- 5. Seed Venue (Tạo sân)
INSERT INTO [Venues] ([id], [owner_id], [name], [address], [bank_qr_url]) VALUES
(@VenueId, @OwnerId, N'Sân Cầu Lông Kỳ Hòa', N'Quận 10, TP.HCM', 'https://qr-link.com/img.png');

-- 6. Seed Booking (Host đặt sân và Owner đã xác nhận)
INSERT INTO [Bookings] ([id], [booker_id], [venue_id], [start_time], [end_time], [total_price], [receipt_url], [status]) VALUES
(@BookingId, @HostId, @VenueId, '2026-05-01 18:00:00', '2026-05-01 20:00:00', 200000, 'https://receipt-link.com/img.png', 'CONFIRMED');

-- 7. Seed Match (Host tạo kèo từ Booking đã xác nhận)
INSERT INTO [Matches] ([id], [booking_id], [host_id], [title], [skill_level], [max_players], [fee_per_player], [status]) VALUES
(@MatchId, @BookingId, @HostId, N'Giao lưu cầu lông tối thứ 6', N'TRUNG BÌNH', 4, 50000, 'OPEN');

-- 8. Seed Match_Players (Guest xin vào kèo và đã được duyệt)
INSERT INTO [Match_Players] ([match_id], [user_id], [status]) VALUES
(@MatchId, @GuestId, 'APPROVED');
GO